@model List<Atos.Models.Event>

@foreach (var eventRoom in Model)
{
    <div class="bookingListEvent">
        <div class="nameRoomInList">
            @eventRoom.MeetingRoom.NameRoom
        </div>
        <div>
            @eventRoom.NameEvent
        </div>
        <div>
            @if (eventRoom.StartEvent.ToShortDateString() == eventRoom.StopEvent.ToShortDateString())
            {
                <p>
                    <b class="firstWord">Время проведения: </b>
                    <b>@eventRoom.StartEvent.ToShortTimeString() - @eventRoom.StopEvent.ToShortTimeString()</b>
                    @eventRoom.StartEvent.ToShortDateString()
                </p>
            }
            else
            {
                <p>
                    <b class="firstWord">Время проведения: </b>
                    <b>@eventRoom.StartEvent.ToShortTimeString()</b> @eventRoom.StartEvent.ToShortDateString() -
                    <b>@eventRoom.StopEvent.ToShortTimeString()</b> @eventRoom.StopEvent.ToShortDateString()
                </p>
            }
        </div>
        <div>
            <p>
                <b class="firstWord">Сотрудник: </b>
                @eventRoom.NameUser
            </p>
        </div>

        @using (Ajax.BeginForm("BookingConfirmation", new AjaxOptions { }))
        {
            <input type="hidden" name="idEvent" value=@eventRoom.Id />
            <div class="groupBtn">
                <input class="btnTemplate " id="confirmation" name="confirmation" type="submit" value="Подтвердить" onclick="this.style.display='none'" />
                <input class="btnTemplate" id="confirmation" name="confirmation" type="submit" value="Отклонить" onclick="this.style.display='none'" />
            </div>
        }
    </div>
}