@model Atos.Models.MeetingRoom

@{
    ViewBag.Title = "Удаление переговорной комнаты";
}

<h2 class="center">Удаление комнаты</h2>

<h4 class="center">Вы уверены, что хотите удалить выбранную комнату?</h4>
<div class="deleteSelectedEvent">
    <hr />
    <div class="col-sm-offset-2 col-sm-8">
        <div class="roomBlock">
            <dl class="dl-horizontal" id="deleteMeetingRoom">
                <dt>
                    @Html.DisplayNameFor(model => model.NameRoom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NameRoom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd> 
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumberOfSeats)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberOfSeats)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Projector)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Projector)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MarkerBoard)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MarkerBoard)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удаление" class="btnTemplate" />
                </div>
            }
        </div>
       </div>
    </div>
<div class="col-xs-12">
    <div class="backLink">
        @Html.ActionLink("Вернуться назад", "Index")
    </div>
</div>

